---
import Socials from './socials.astro';
---
<hr>
<footer>
    <h3>My socials</h3>
    <Socials platform= 'github' username='AliyaHarding' />
    <Socials platform= 'instagram' username='just_alxya' />
</footer>